.App {
  text-align: center;
}

.App-chat-container {
  background-color: #f5f5f5;
  background-image: linear-gradient(135deg, rgba(235, 235, 235, 0.1) 25%, transparent 25%, transparent 50%, rgba(235, 235, 235, 0.1) 50%, rgba(235, 235, 235, 0.1) 75%, transparent 75%, transparent);
  background-size: 56px 56px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
/* Dark mode */
.App-chat-container.dark {
  background-color: #2c2c2c;
  background-image: linear-gradient(135deg, rgba(50, 50, 50, 0.1) 25%, transparent 25%, transparent 50%, rgba(50, 50, 50, 0.1) 50%, rgba(50, 50, 50, 0.1) 75%, transparent 75%, transparent);
}

.App-chat-container.dark::-webkit-scrollbar-thumb {
  background-color: #555;
}

.App-chat-container::-webkit-scrollbar {
  width: 6px;
}

.App-chat-container::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 3px;
}


.accent-color {
  background-color: #ffd700;
  color: #ffffff;
}


.chat-container {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.chat-container.dark {
background-color: #333;
}

.message-list {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}